/* Basic */

	#skel-layers-wrapper {
		padding-top: 44px;
	}

	header.major {
		padding-bottom: 2em;
	}

	header h2 {
		line-height: 1.2em;
		font-size: 1.8em;
	}

	header .byline {
		padding-top: 0.50em;
		font-size: 1.1em;
	}

/* Layers */

	#titleBar {
		background: #222833;
		height: 44px;
		line-height: 44px;
	}

		#titleBar .title {
			display: block;
			position: relative;
			font-weight: 700;
			text-align: center;
			font-size: 1.2em;
			color: #fff;
			z-index: 1;
		}

		#titleBar .toggle {
			height: 60px;
			left: 0;
			position: absolute;
			top: 0;
			width: 80px;
			z-index: 2;
		}

/* Wrapper */

	.wrapper.style2 {
		padding: 4em 0 3em 0;
	}

	.wrapper.style3 {
		text-align: center;
	}

		.wrapper.style3 span {
			display: block;
			padding-bottom: 1em;
			line-height: 1.6em;
			text-align: center;
			font-size: 1.4em;
		}

		.wrapper.style3 .button {
			float: none;
			padding: 1.1em 3em;
		}

/* Header */

	.no-sidebar #header, .left-sidebar #header, .right-sidebar #header {
		display: none;
	}

	.homepage #header {
		padding: 3em 0 4em 0;
	}

	#logo {
		display: none;
	}

/* Banner */

	#banner {
		padding: 0;
	}

/* Main */

	#main {
		padding: 4em 0;
	}

/* Footer */

	#footer section {
		margin-bottom: 3em;
	}